@use "../../styles/variables.scss" as *;

.breadcrumb-container {
  margin: 0;
  margin-top: 0.25rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  font-weight: $lightWeight;
  opacity: 0.7;
  overflow: hidden;
  max-width: 75%;
}

.breadcrumb-element {
  p {
    margin: 0;
    margin-left: 0.5rem;
    padding: 0;
    line-height: normal;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &:last-child {
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;

    a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
